
<section class="clearfix">
    <div class="col-two"> <br></div>
      <div class="col-eight">
      <h2>  {{ content.field_destination_name }} </h2>
        <p>{{ content.field_destination_description }} </p>
      <div class="destination-image">
          {{ content.field_destination_image }}
      </div></div><br><div class="col-two"><br></div>
</section>
