  <!-- footer
    ================================================== -->
<section class="footer-section" id="footer">
    <footer id="footer">
        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">
                <div class="footer-logo"></div>

              </div>
        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                  {% if page.footer %}
                    <footer class="footer" role="contentinfo">
                      {{ page.footer }}
                    </footer>
                  {% endif %}
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><span class="icon-arrow-up">&uarr;</span></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</section>
