/* -------------------------------------------------------------------
 * ## tablets
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 800px) {
  .block-tab-1-6 .col-block {
    width: 16.66667%;
  }
  .block-tab-1-5 .col-block {
    width: 20%;
  }
  .block-tab-1-4 .col-block {
    width: 25%;
  }
  .block-tab-1-3 .col-block {
    width: 33.33333%;
  }
  .block-tab-1-2 .col-block {
    width: 50%;
  }
  .block-tab-full .col-block {
    width: 100%;
    clear: both;
  }
  [class*="block-tab-"] .col-block:nth-child(n) {
    clear: none;
  }
  .block-tab-1-6 .col-block:nth-child(6n+1),
  .block-tab-1-6 .col-block:nth-child(5n+1),
  .block-tab-1-4 .col-block:nth-child(4n+1),
  .block-tab-1-3 .col-block:nth-child(3n+1),
  .block-tab-1-2 .col-block:nth-child(2n+1) {
    clear: both;
  }
}

/* -------------------------------------------------------------------
 * ## mobile devices
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  .block-mob-1-6 .col-block {
    width: 16.66667%;
  }
  .block-mob-1-5 .col-block {
    width: 20%;
  }
  .block-mob-1-4 .col-block {
    width: 25%;
  }
  .block-mob-1-3 .col-block {
    width: 33.33333%;
  }
  .block-mob-1-2 .col-block {
    width: 50%;
  }
  .block-mob-full .col-block {
    width: 100%;
    clear: both;
  }
  [class*="block-mob-"] .col-block:nth-child(n) {
    clear: none;
  }
  .block-mob-1-6 .col-block:nth-child(6n+1),
  .block-mob-1-5 .col-block:nth-child(5n+1),
  .block-mob-1-4 .col-block:nth-child(4n+1),
  .block-mob-1-3 .col-block:nth-child(3n+1),
  .block-mob-1-2 .col-block:nth-child(2n+1) {
    clear: both;
  }
}

/* -------------------------------------------------------------------
 * ## small mobile devices
 * ------------------------------------------------------------------- */
/* stack columns on small mobile devices
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 400px) {
  .stack .col-block {
    width: 100% !important;
    float: none !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
  }
}

/* ===================================================================
 * # MISC
 *
 * ------------------------------------------------------------------- */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Misc Helper Styles
 * -------------------------------------- */
.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
  overflow: hidden;
}

.remove-bottom {
  margin-bottom: 0;
}

.half-bottom {
  margin-bottom: 1.5rem !important;
}

.add-bottom {
  margin-bottom: 3rem !important;
}

.no-border {
  border: none;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */
/*
 * lora
================================================================================ */
@font-face {
  font-family: "lora-regular";
  src: url("fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("fonts/lora/lora-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "lora-italic";
  src: url("fonts/lora/lora-italic-webfont.woff2") format("woff2"), url("fonts/lora/lora-italic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "lora-bold";
  src: url("fonts/lora/lora-bold-webfont.woff2") format("woff2"), url("fonts/lora/lora-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "lora-bold-italic";
  src: url("fonts/lora/lora-bolditalic-webfont.woff2") format("woff2"), url("fonts/lora/lora-bolditalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/*
 * montserrat
================================================================================ */
@font-face {
  font-family: "montserrat-black";
  src: url("fonts/montserrat/montserrat-black-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-black-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extrabold";
  src: url("fonts/montserrat/montserrat-extrabold-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-extrabold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("fonts/montserrat/montserrat-medium-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-light";
  src: url("fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url("fonts/montserrat/montserrat-extralight-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-extralight-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "montserrat-thin";
  src: url("fonts/montserrat/montserrat-thin-webfont.woff2") format("woff2"), url("fonts/montserrat/montserrat-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Mont-EstraLight";
  src: url("fonts/mont/Mont-ExtraLightDEMO.otf") format("otf"), url("fonts/mont/Mont-ExtraLightDEMO.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mont-HeavyDEMO";
  src: url("fonts/mont/Mont-HeavyDEMO.otf") format("otf"), url("fonts/mont/Mont-HeavyDEMO.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}
